<div class="jumbotron text-justify">
    <h1 class="display-4 text-center">Dream.cove</h1>
    <h1 class="display-5 text-center">Where dreams come to live</h1>
    <br />
    <br />
    <h1 class="lead">We here at Dream.cove work to create a safe space for you to share and discuss your dreams with like minded people from all walks of life. Whether you're an avid lucid dreamer, a dream journal owner or someone just beginning to explore the wonders of sleepy-time, this space is for you. Start sharing today.</h1>
    <br />
    <h2 class="text-center"><%= link_to 'Start here.', new_user_path %></h2>
</div>