<div class="jumbotron">
    <h1 class="display-4">Splash page for website will go here</h1>
    <h1 class="lead">Brief intro to what website does</h1>
    <h3 class="display-8">Sign up button will go here and will take you to the new user form page</h3>
    <%= link_to 'Sign Up', new_user_path %>
</div>