<h1>Welcome to the Cove!</h1>
<p id="alert"><%= alert %></p>
<div>
    <th>All Dreams</th>
    <table>

        <tr>
            <th>Title</th>
            <th>Posted</th>

        </tr>

        <% @posts.each do |post| %>
            <tr>
                <td><%= post.title %><td>
                <td><%= post.created_at.to_date
 %><td>

            </tr>
        <% end %>
    </table>
</div>