<h1>Welcome to the Cove!</h1>
<%= link_to "Post your Dream", new_post_path %>
<div>
    <th>All Dreams</th>
    <table>

        <tr>
            <th>Title</th>
            <th>Posted</th>

        </tr>

        <% @posts.each do |post| %>
            <tr>
                <td><%= link_to post.title, post_path(post) %><td>
                <td><%= post.created_at.to_date
 %><td>

            </tr>
        <% end %>
    </table>
</div>